

mixin summary(article)
	if article.hidden !== true
		.article
			article
				a.title(href!=config.root + article.path, title=article.title)
					h3= article.title
				
				.post-info.clearfix
					- var author = theme.author[article.author];
					if author
						a.author(href!= author.profile || "javascript:void(0);", title=author.name, rel="author", target="_blank")
							i.icon-user 
							= "By "
							span= author.name
					else
						- var name = article.author || __('article.anonymous');
						a.author(href!= article.profile || "javascript:void(0);", title= name, rel="author", target="_blank")
							i.icon-user 
							= "By "
							span= name

					- var tags = article.tags
					if tags.length
						div.tags
							i.icon-tags
							- tags.sort('post').each(function(item, i) {
								- if (i > 6) return false;
								a(href!= config.root + item.path, title= item.name)= item.name
							- });

					time(datetime=article.date.toDate().toISOString())
						i.icon-time 
						span= article.date.format(config.date_format)

					div.comments
						i.icon-comments
						include ../_duoshuo/cmmt_count

				.clearfix.content!= article.excerpt || article.content